.bg-light {
  background-color: #fff1da !important;
  background: transparent;
  backdrop-filter: blur(2px);
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.1);
}

.nav_logo img {
  width: 140px;
}

.nav_links {
  color: var(--color-nav-footer) !important;
}

.nav_btn {
  max-width: 140px;
  text-align: center;
  border: 1px solid #212832;
  border-radius: 10px;
  padding: 5px 10px;
}

@media (max-width: 1000px) {
  .nav_btn {
    max-width: 140px;
    text-align: left;
    border: none;
    padding: none;
  }
}
