.container__promocoes {
  margin-top: 75px;
  padding-top: 2rem;
  background: var(--color-bg);
}
.cards__container {
  width: 100%;
  height: 100%;
  /* max-width: 1000px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0;
}

.cards__container-card {
  width: 330px;
  height: 430px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 1rem;
  text-align: center;
  transition: all 0.5s;
  background: var(--color-violet);
}

.cards__container-card:hover {
  transform: translateY(-15px);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}

.cards__container-img {
  width: 330px;
  height: 220px;
  overflow: hidden;
}
.cards__container-img img {
  width: 330px;
  height: 220px;
  overflow: hidden;
}
.cards__container-card h4 {
  margin-top: 10px;
  color: var(--color-primary);
  font-size: 1.5rem;
}
.cards__container-card p {
  margin: 1rem auto;
  padding: 0 2em;
  font-size: 1rem;
  font-weight: 300;
  color: var(--color-primary);
  text-align: left;
}
.cards__container-btn {
  background: var(--color-subtitle);
  color: var(--color-primary);
  padding: 10px;
  text-decoration: none;
}
