.contact {
  height: 100vh;
  margin-top: 75px;
  background-color: var(--color-bg);
  padding-top: 3rem;
}
.form {
  display: flex;
  background: transparent;
  width: 90%;
  margin: auto;
  max-width: 450px;
  min-width: 250px;
  padding: 3.5em 1.5em;
  border-radius: 2em;
  border: 3px solid var(--color-subtitle);
}

.form_container {
  width: 100%;
  display: grid;
  gap: 1em;
  grid-auto-columns: 100%;
  margin: 1rem 0;
}
.form_title {
  text-align: center;
  font-size: 2em;
  color: var(--color-title);
}
.form_input {
  font-size: 1em;
  padding: 0.8em 1em;
  border: none;
  border: 1px solid #bbb0b0;
  border-radius: 0.2em;
  background: transparent;
}

.form_input-message {
  resize: none;
  padding: 1.8em 1em;
}

.form_cta {
  font-size: 1em;
  background: var(--color-title);
  color: #fff;
  border: none;
  padding: 0.7em 0;
  border-radius: 0.2em;
  cursor: pointer;
  font-weight: 600;
}
